<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meine App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'kunden/css/style.css' %}">
</head>
<body>
    <div class="nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'kunden-uebersicht' %}">Kundenliste</a>
                    <a href="{% url 'kunde-neu' %}">Kunden anlegen</a>
                    <a href="{% url 'vermerk-uebersicht' %}">Gesprächsliste</a>
                    <a href="{% url 'vermerk-erfassen' %}">Gespräch erfassen</a>
                {% else %}
                     <div class="nav-placeholder"></div>
                {% endif %}


        <div class="nav-logout">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" class="inline-form">
                    {% csrf_token %}
                    <button type="submit" class="nav-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="nav-button">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Startseite</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Willkommen</h1>-->
<!--    <h2>Navigation</h2>-->
<!--    <ul>-->
<!--        <li><a href="{% url 'kunden-uebersicht' %}">Kundenübersicht</a></li>-->
<!--        <li><a href="{% url 'vermerk-uebersicht' %}">Vermerkübersicht</a></li>-->
<!--        <li><a href="{% url 'vermerk-erfassen' %}">Vermerk erfassen</a></li>-->
<!--        <li><a href="{% url 'kunde-neu' %}">Neuen Kunde anlegen</a></li>-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->

